
body{

    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


.navbar-light .navbar-nav{
    margin-right: -250px;



}

.navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 22px;
    margin-top: 10PX;
    margin-right: 10px;
    
    
}
.navbar-light .navbar-brand{
    color: white;
    font-size: 50px;
    margin-top: 10PX;
}

.nadpis1{
  margin-right: -250px !important;
}


.navbar-toggler{
  color: white;
}




.obsah{
  margin-top: 110px;
  padding-left: 20%;
  padding-right:20%;

}

.nadpis11{

  
  font-weight: 550;
  margin-left: 30%;
  margin-bottom: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}


.nadpis2{
  font-weight: 400;


}

.odsek1{
  font-weight: 400;
  line-height: 1.5  ;
  font-size:  105%


}

.galeria1{
  margin-left: 20%;
  margin-right: 20%;

}

.nadpis3{
  font-weight: 400;
}

.galeria2{
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 20px;

}

.fotkax{

  width: 50%;
  margin-left: 25%;
}

.galeria3{
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 20px;

}

.fotka1{
  width: 40%;
  margin-left: 30%;
  margin-bottom: 10px;

}

.footerx{
  color: white;
}

.containerx{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left:  15% ;
  padding-top: 10px;



}

.galeria5{
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20px;


}


.ytvid{

  margin-left: 25%;
}

.ytnadpis{
  margin-top: 40px;
  margin-left: 25%;
  margin-bottom: 15px;


}






@media screen and (max-width: 600px) {
  .navbar-light .navbar-brand{
      font-size: 35px;
      margin-left: 250px;
      margin-right: 50px;
} 
  
.navbar-toggler{
  margin-right: 10px;


}
  .obsah{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .video1{
    margin-left: -50px;
    width: 300px;
    height: 190px;

  }

  .containerx{
    margin-left: 0px;

  }

}